<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="./assets/img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/query.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <title>SMECH</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3090476800151793"
    crossorigin="anonymous"></script>
</head>
</body>

<header>
    <nav class="nav">
        
        <h2 class="logo">smech</h2>
<i class="fa-bars fa mobile" style="padding-top:30px; display: none;"></i>
       
     
     <ul class="undernav">
         <li><a href="/review">Review</a></li>
         <li><a href="/faq">FAQS</a></li>
         <li><a href='/technician/signup'>become a technician</a></li>
         <a class='btn' href='/mechs'>Find Mechanics</a>
         <a href="/account" style="display: flex;">
             <img class="profile" src="/uploads/<%= user.profilePicture  %>" alt="">
             <li style="padding-top: 14px;">Welcome</li>
         </a>

     </ul>
 </nav>
  
       
          

        

      
        <div class="hero">
      <div class="div">
        <h1 class="head">Car Repair, <br>Delivered.</h1>
        <p class="para">Looking for a car mechanic near you
            for repair or maintenance? <br>
            Omech brings the shop to you.
            
            </p>
            <a href="/signup" class="btn-2">Find mechanics</a>
      </div>
<img src="/img/light_skin_black_auto_mechanic_rigged_lxo_00-removebg-preview (1).png" class="img" alt="">
        </div>
</header>
    <section class="rating">
        <div class="rater">
            <div class="rates">
                <div class="rate">
                    <div class="no">4.9</div>
                  
                </div>
                <div class="star">
                    <img src="/img/star.svg" alt="" class="star">
                    <img src="/img/star.svg" alt="" class="star">
                    <img src="/img/star.svg" alt="" class="star">
                    <img src="/img/star.svg" alt="" class="star">
                    <img src="/img/star.svg" alt="" class="star">
                </div>
            </div>
            <div class="review">
                <img src="./assets/img/ihifix.png" class="rated" alt="">
                <p>(1022 reviews)</p>
            </div>
            
        </div>
  
        <!-- <div class="rater none">
            <div class="rates">
                <div class="rate">
                    <div class="no">4.9</div>
                  
                </div>
                <div class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                </div>
            </div>
            <div class="review">
                <img src="./assets/img/ihifix.png" class="rated" alt="">
                <p>(1022 reviews)</p>
            </div>
            
        </div>
        <div class="rater none">
            <div class="rates">
                <div class="rate">
                    <div class="no">4.9</div>
                  
                </div>
                <div class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                </div>
            </div>
            <div class="review">
                <img src="./assets/img/ihifix.png" class="rated" alt="">
                <p>(1022 reviews)</p>
            </div>
            
            
        </div> -->

        
        <!-- <div class="rates">
            <div class="rate">
                <div class="no">4.9</div>
            </div>
            <div class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
            </div>
        </div>
        <div class="rates">
            <div class="rate">
                <div class="no">4.9</div>
            </div>
            <div class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
            </div>
        </div> -->
    </section>
    <section class="service" id="service">
        <h1 class="heading">Choose from 200+ auto repair services</h1>
        <p class="service-p subline">We’re here to keep you moving. Easy online scheduling, upfront pricing, and expert auto mechanics that come to your home or office.</p>
        <img src="/img/techs.png" class="imgs" alt="" srcset="">
    </section>
    <div class="service reviews">
        <div class="row j">
            <div class="h">
                <h1 class="heading" >Find Reliable Mechanics</h1>
                <small class="service-p subline">Creative Thinking For Business PSD Template</small>
            </div>
        </div>
    <div class="row justify-content-center">
         
       
        <a href="/signup" class="seeall">Signup Now</a>
        
    </div>

        
    </div>

   
    <section class="how">
        <h1 class="repair">Car repair as easy as 1, 2, 3</h1>
        <p class="service-p">We’ll bring all the parts and tools needed for your repair or service… you just provide the <br> vehicle! The real question is, what will you do with all that free time back in your day?</p>
        <div class="steps">
            <div class="1">
                <video src="/img/Phone_326.webm"  loop playsinline autoplay ></video>
                <h3 class="step-headline">1. Book Online</h3>
                <p class="step-p">Get a quote, book an <br> appointment, speak to a specialist – <br> all online!</p>
            </div>
            <div class="1">
                <video src="/img/House_to_Office_326.webm" loop playsinline autoplay ></video>
                <h3 class="step-headline">2. We come to you</h3>
                <p class="step-p">Our mechanics come to you with <br> all the tools and parts needed for <br> your service.</p>
            </div>
            <div class="1">
                <video src="/img/Fist_bump_326.webm" loop playsinline autoplay ></video>
                <h3 class="step-headline">3. Get on with your day</h3>
                <p class="step-p">A fist bump for the coolest repair <br> experience ever… and that’s it!</p>
            </div>
        </div>
    
    </section>
    <section class="reviews">
        <h1 class="test-head  ">It’s your race. We’re your pit crew.</h1>
        <p class="test-para ">No matter where you’re headed, we’re here to get you there.</p>

        <div class="reviewed">
                    <% mechanics.forEach(mechanics => { %>

          <div class="rev">
            <h1>hh</h1>
          </div>

                    <% }); %>
        </div>

        <!-- <div class="reviewed">
            <div class="rev">
                <img src="/img/emm-removebg-preview.png" class="reviewer" alt="">
                <h3 class="advice">Complimentary friendly advice</h3>
              <p class="qoute">“Jose is the best! My car broke down last week and he gave me a ton of advice and helped me get back on the road that day.”</p>

              <p class="carname">
                Emmanuel A. , 2013 Toyota Camry
              </p>
            </div>
            <div class="rev">
                <img src="/img/salim-removebg-preview.png" class="reviewer" alt="">
                <h3 class="advice">From stressful to stress-free</h3>
                <p class="qoute">“Mark was friendly, efficient, on time and a professional. A good ending to an otherwise stressful day. Thank you!”</p>
                <p class="carname">Salim , 2015 Honda CR-V</p>
            </div>
            <div class="rev">
                <img src="/img/salawu-removebg-preview.png" class="reviewer" alt="">
                <h3 class="advice">Quality service worth referring</h3>
                <p class="qoute">“Beyond impressed with the quality of service that was provided. I will be referring everyone I know to RepairSmith.”</p>
                <p class="carname">Salawudeen , 2016 BMW 330i</p>
            </div>
            <div class="rev">
                <img src="/img/umee-removebg-preview.png" class="reviewer" alt="">
                <h3 class="advice">At your home or office</h3>
                <p class="qoute">“Phenomenal service techs with next level commitment. When I was ready to leave the office, everything was complete.”</p>
                <p class="carname">Umee , 2011 Mazda CX5</p>
            </div>
        </div> -->
    </section>
    <!-- <section class="getrepairs">
        <div class="repaired">
            <h2 class="text first-text">get repairs when you</h2>
            <h2 class="text second-text">sleep</h2>
     
             <button class="seeall">
                <a href="/qoute.html"> Get A Qoute</a>
                
             </button>
        </div>

    </section> -->
  <!-- Site footer -->
  <footer class="footer-14398">
      
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-3">
          <a href="#" class="footer-site-logo">Colorlib</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit officiis corporis optio natus. </p>
        </div>
        <div class="col-md-2 ml-auto">
          <h3>Shop</h3>
          <ul class="list-unstyled links">
            <li><a href="#">Sell online</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Examples</a></li>
            <li><a href="#">Website editors</a></li>
            <li><a href="#">Online retail</a></li>
          </ul>
        </div>
        <div class="col-md-2 ml-auto">
          <h3>Press</h3>
          <ul class="list-unstyled links">
            <li><a href="#">Events</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Awards</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Online retail</a></li>
          </ul>
        </div>
        <div class="col-md-2 ml-auto">
          <h3>About</h3>
          <ul class="list-unstyled links">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Contacts</a></li>
          </ul>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12 pb-4">
          <div class="line"></div>
        </div>
        <div class="col-md-6 text-md-left">
          <ul class="list-unstyled link-menu nav-left">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Code of Conduct</a></li>
          </ul>
        </div>
        <div class="col-md-6 text-md-right">
          <ul class="list-unstyled social nav-right">
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-instagram"></span></a></li>
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-pinterest"></span></a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, fuga. Ex at maxime eum odio quibusdam pariatur expedita explicabo harum! Consectetur ducimus delectus nemo, totam odit!</small></p>
        </div>
      </div>
    </div>
    
  </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const mobileElement = document.querySelector(".mobile");
    const undernavElement = document.querySelector(".undernav");

    if (mobileElement && undernavElement) {
        mobileElement.addEventListener("click", function () {
            undernavElement.classList.toggle("block");
        });
    } else {
        console.error("Elements not found.");
    }
    console.log('hulo');
});
</script>
</body>
</html>