<!DOCTYPE html>
<html>
  <head>
    <title>Upload User Image</title>
  </head>
  <body>
    <h1>Upload User Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="userImage" accept="image/*" />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
