<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="./assets/img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/query.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <title>SMECH</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3090476800151793"
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
</body>

<header>


    <nav style="background-color: #f4f1ef; box-shadow: 0 4px 4px 0 rgba(0,0,0,.16); position: fixed;">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo" style="color: black;">SMECH</label>
      <ul>
        <li><a class="" href="/signup">SIGNUP</a></li>

        <li><a href="/faq">FAQ</a></li>
        <li><a href="#reviews">REVIEWS</a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a class="active" href="/technician/signup">bECOME A TECHNICIAN</a></li>
      </ul>
    </nav>
  
       
          

        

      
        <div class="hero">
      <div class="div">
        <h1 class="head">Car Repair, <br>Delivered.</h1>
        <p class="para">Looking for a car mechanic near you
            for repair or maintenance? <br>
            Omech brings the shop to you.
            
            </p>
            <a href="/signup" class="btn-2"> Find mechanics </a>
      </div>
<img src="/img/light_skin_black_auto_mechanic_rigged_lxo_00-removebg-preview (1).png" class="img" alt="">
        </div>
</header>
    <section class="rating">
        <div class="rater">
            <div class="rates">
                <div class="rate">
                    <div class="no">4.9</div>
                  
                </div>
                <div class="star">
                    <img src="/img/star.svg" alt="" class="star">
                    <img src="/img/star.svg" alt="" class="star">
                    <img src="/img/star.svg" alt="" class="star">
                    <img src="/img/star.svg" alt="" class="star">
                    <img src="/img/star.svg" alt="" class="star">
                </div>
            </div>
            <div class="review">
                <img src="./assets/img/ihifix.png" class="rated" alt="">
                <p>(1022 reviews)</p>
            </div>
            
        </div>
  
        <!-- <div class="rater none">
            <div class="rates">
                <div class="rate">
                    <div class="no">4.9</div>
                  
                </div>
                <div class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                </div>
            </div>
            <div class="review">
                <img src="./assets/img/ihifix.png" class="rated" alt="">
                <p>(1022 reviews)</p>
            </div>
            
        </div>
        <div class="rater none">
            <div class="rates">
                <div class="rate">
                    <div class="no">4.9</div>
                  
                </div>
                <div class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                </div>
            </div>
            <div class="review">
                <img src="./assets/img/ihifix.png" class="rated" alt="">
                <p>(1022 reviews)</p>
            </div>
            
            
        </div> -->

        
        <!-- <div class="rates">
            <div class="rate">
                <div class="no">4.9</div>
            </div>
            <div class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
            </div>
        </div>
        <div class="rates">
            <div class="rate">
                <div class="no">4.9</div>
            </div>
            <div class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
            </div>
        </div> -->
    </section>
    <section class="service" id="service">
        <h1 class="heading">Choose from 200+ auto repair services</h1>
        <p class="service-p subline">We’re here to keep you moving. Easy online scheduling, upfront pricing, and expert auto mechanics that come to your home or office.</p>
        <img src="/img/techs.png" class="imgs" alt="" srcset="">
    </section>
    <div class="service reviews">
        <div class="row j">
            <div class="h">
                <h1 class="heading" >Find Reliable Mechanics</h1>
                <small class="service-p subline">Creative Thinking For Business PSD Template</small>
            </div>
        </div>
    <div class="row justify-content-center">
         
       
        <a href="/signup" class="seeall">Signup Now</a>
        
    </div>

        
    </div>

    <!-- <section class="service ash" id="mech service">
        <h1 class="heading">Our Mechanic</h1>
        <p class="service-p subline">Choose from our amazing</p>



        <div class="row">
            <div class="row">




              
            <!-- <!-- <div class="card">
                <img src="/img/2.png" class="pimg" alt="">
                <h2>Jack</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div> -->
            <!-- <div class="card">
                <img src="/img/1.png" class="pimg" alt="">
                <h2>Master</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div> -->
            <!-- <div class="card">
                <img src="/img/young-worker-car-workshop-removebg-preview.png" class="pimg" alt="">
                <h2>2 Color</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div> --> -->
            <!-- <div class="card">
                <img src="/img/young-worker-car-workshop-removebg-preview.png" class="pimg" alt="">
                <h2>Jack</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div>
            <div class="card">
                <img src="/img/young-worker-car-workshop-removebg-preview.png" class="pimg" alt="">
                <h2>Jack</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div>
            <div class="card">
                <img src="/img/happy-black-auto-mechanic-working-car-workshop-looking-camera-removebg-preview.png" class="pimg" alt="">
                <h2>Noah</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div>
            <div class="card">
                <img src="/img/repair-smith-testimonials-3.png" class="pimg" alt="">
                <h2>Oliver</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div>
            <div class="card">
                <img src="/img/repair-smith-testimonials-4.png" class="pimg" alt="">
                <h2>Hugo</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div> -->
        </div>

    </section> -->

    <!-- <section class="pricing" >
        <h1 class="repair">Honest, upfront pricing*</h1>
        <p class="repair-p">*Seriously.</p>
        <div class="pricings">
            <div class="box">
                <img src="/img/repairsmith-battery.png" alt="">
                <h3 class="repair-name">Battery</h3>
                <p class="repair-desc">Get your battery <br > replaced while you <br> recharge.</p>
                <button class="book">book now</button>
            </div>
            <div class="box">
                <img src="/img/brake-pads.png" alt="">
                <h3 class="repair-name">Brake Pads</h3>
                <p class="repair-desc">Take a break at your pad <br> while we change your <br> brake pads.</p>
                <button class="book">Book Now</button>
            </div>
            <div class="box">
                <img src="/img/oil-change.png" alt="">
                <h3 class="repair-name">Synthetic Oil Change</h3>
                <p class="repair-desc">An oil change without <br> changing out of your <br> PJs.</p>
                <button class="book">Book Now</button>
     
            </div>
            <div class="box">
                <img src="/img/spark-plugs.png" alt="">
                <h3 class="repair-name">Spark Plugs</h3>
                <p class="repair-desc">A spark plug <br> replacement that <br> actually sparks joy.</p>
                <button class="book">Book Now</button>
            </div>
        </div>
        <button class="seeall try">See All Repair</button>

    
     
    
        
    </section> -->
    <section class="how">
        <h1 class="repair">Car repair as easy as 1, 2, 3</h1>
        <p class="service-p">We’ll bring all the parts and tools needed for your repair or service… you just provide the <br> vehicle! The real question is, what will you do with all that free time back in your day?</p>
        <div class="steps">
            <div class="1">
                <video src="/img/Phone_326.webm"  loop playsinline autoplay ></video>
                <h3 class="step-headline">1. Book Online</h3>
                <p class="step-p">Get a quote, book an <br> appointment, speak to a specialist – <br> all online!</p>
            </div>
            <div class="1">
                <video src="/img/House_to_Office_326.webm" loop playsinline autoplay ></video>
                <h3 class="step-headline">2. We come to you</h3>
                <p class="step-p">Our mechanics come to you with <br> all the tools and parts needed for <br> your service.</p>
            </div>
            <div class="1">
                <video src="/img/Fist_bump_326.webm" loop playsinline autoplay ></video>
                <h3 class="step-headline">3. Get on with your day</h3>
                <p class="step-p">A fist bump for the coolest repair <br> experience ever… and that’s it!</p>
            </div>
        </div>
    
    </section>
    <section class="reviews" id="reviews">
        <h1 class="test-head  ">It’s your race. We’re your pit crew.</h1>
        <p class="test-para ">No matter where you’re headed, we’re here to get you there.</p>

        <div class="reviewed">


            <div class="rev">
                <img src="/img/emm-removebg-preview.png" class="reviewer" alt="">
                <h3 class="advice">Complimentary friendly advice</h3>
              <p class="qoute">“Jose is the best! My car broke down last week and he gave me a ton of advice and helped me get back on the road that day.”</p>

              <p class="carname">
                Emmanuel A. , 2013 Toyota Camry
              </p>
            </div>
            <div class="rev">
                <img src="/img/salim-removebg-preview.png" class="reviewer" alt="">
                <h3 class="advice">From stressful to stress-free</h3>
                <p class="qoute">“Mark was friendly, efficient, on time and a professional. A good ending to an otherwise stressful day. Thank you!”</p>
                <p class="carname">Salim , 2015 Honda CR-V</p>
            </div>
            <div class="rev">
                <img src="/img/salawu-removebg-preview.png" class="reviewer" alt="">
                <h3 class="advice">Quality service worth referring</h3>
                <p class="qoute">“Beyond impressed with the quality of service that was provided. I will be referring everyone I know to RepairSmith.”</p>
                <p class="carname">Salawudeen , 2016 BMW 330i</p>
            </div>
            <div class="rev">
                <img src="/img/umee-removebg-preview.png" class="reviewer" alt="">
                <h3 class="advice">At your home or office</h3>
                <p class="qoute">“Phenomenal service techs with next level commitment. When I was ready to leave the office, everything was complete.”</p>
                <p class="carname">Umee , 2011 Mazda CX5</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-content">
            <h3>SMECH</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat odio, totam eum facere aliquam temporibus dolor, odit repudiandae nulla quos iure molestiae veritatis distinctio numquam, fugit beatae iusto esse? Aliquam.</p>
            <ul class="socials">
                <li><a href="https://www.linkedin.com/company/ihifix/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/company/ihifix/"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/ihifix/"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com/company/ihifix/"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.linkedin.com/company/ihifix/"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="#">SMECH</a>  </p>
                    <div class="footer-menu">
                      <ul class="f-menu">
                        <li><a href="/signup">Signup</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/technician/signup">Become  a technician</a></li>
                        <li><a href="/faq">FAQ</a></li>
                      </ul>
                    </div>
        </div>

    </footer>




<script>
    document.addEventListener("DOMContentLoaded", function () {
    const mobileElement = document.querySelector(".mobile");
    const undernavElement = document.querySelector(".undernav");

    if (mobileElement && undernavElement) {
        mobileElement.addEventListener("click", function () {
            undernavElement.classList.toggle("block");
        });
    } else {
        console.error("Elements not found.");
    }
    console.log('hulo');
});
</script>
</body>
</html>