<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/form.css">  
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="form-container">
    <h1>Login</h1>
    <form action="/login" method="post">
      <div class="form_input">
        <label for="profilePicture">Email</label>
        <input type="email" name="email" placeholder="Email" required>
      </div>
      <div class="form_input">
        <label for="profilePicture">Password:</label>
        <input type="password" name="password" placeholder="Password" required>
      </div>
   
      <button type="submit">Login</button>
    </form>
    <a href="signup">Don't have an account? <span style="color: white;">Sign up</span> </a>
  </div>



</body>
</html>
