<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/form.css">  
    <link rel="stylesheet" href="/css/style.css">  
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3090476800151793"
     crossorigin="anonymous"></script>
    <title>SIGNUP</title>
</head>
<body>
  <section class="form">
    <div class="ads">

    </div>

  </section>
  <div class="form-container">
    <h1>SIGNUP</h1>
  <form action="/signup" method="POST" enctype="multipart/form-data">
    <div class="image-preview">
      <div class="circle"></div>
    </div>
    <img src="" alt="">
      <div class="form_input">
        <label for="profilePicture">Profile Picture:</label>
        <input type="file"   name="profilePicture" id="image-input" accept="image/*">
      </div>


    <div class="form_input">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>




    <div class="form_input">
      <label for="name">Name:</label>
      <input type="text" id="name" name="username" required> 
    </div>

    <div class="form_input">
      <label for="name">Phone:</label>
      <input type="text" id="phone" name="phone" required> 
    </div>

    <div class="form_input">
      <label for="name">Password:</label>
      <input type="password" id="name" name="password" required>  
    </div>
    
    <div class="form_input">
      <label for="name">Location:</label>
   <input type="text" name="location" id="location">
       <img src="/img/location-svgrepo-com.svg" class="locate" id="getLocationBtn" alt="">
    <!-- <p id="getLocationBtn">get Location</p> -->
    </div>


    <input type="submit" class="btn seeall" value="Submit">
  </form>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>
