<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/css/form.css">  
      <link rel="stylesheet" href="/css/style.css">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3090476800151793"
      crossorigin="anonymous"></script>
    </head>
<body>
  <div class="form-container">  
    <h1>Login</h1>
    <form action="/technician/login" method="post">
      <label for="profilePicture">Email:</label>
      <input type="email" name="email" placeholder="Email" required>
      <label for="profilePicture">Passord:</label>
      <input type="password" name="password" placeholder="Password" required>
    <button type="submit" class="seeall">Login</button>
  </form>
  <a href="signup">Don't have an account? Sign up</a>
  </div>


 
</body>
</html>
